.library {
  position: fixed;
  left: 0;
  top: 0;
  width: 20rem;
  overflow-y: scroll;
  height: 100%;
  background-color: white;
  transition: all 0.5s ease;
  transform: translateX(-100%);
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}
.library-active {
  transform: translateX(0%);
  opacity: 1;
}
.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  cursor: pointer;
  &:hover {
    background: rgb(226, 226, 226);
  }
  h3 {
    font-size: 1rem;
    padding-bottom: 0.3rem;
    // white-space: nowrap;
  }
  h4 {
    font-size: 0.8rem;
    color: rgb(81, 80, 82);
    // white-space: nowrap;
  }

  img {
    padding: 1rem;
    width: 40%;
  }
}
.selected {
  background: rgb(166, 189, 226);
}
